.about {
  position: relative;
  background-color: black;
  height: 600px;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;

  .img-top {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
    background-color: #6a097d;
    opacity: 0.8;
    z-index: 1;

    margin: 0 0 0 -160px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    // border-right: black 1px solid;
    overflow: hidden;
  }
}
@media (max-width: 991px) {
  .overlay {
    width: 100% !important;
    margin: 0px !important;
    -webkit-transform: skew(0deg) !important;
    -moz-transform: skew(0deg) !important;
    -o-transform: skew(0deg) !important;
  }
}

// @media (max-width: 380px) {
//   .about {
//     height: 60vh !important;
//   }
// }
