// CONTACT

.contact::before {
  background: url(/img/disco-purple.jpg) no-repeat fixed center;
  background-size: cover;
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

.contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 50px 0;

  form {
    margin-top: -50px;
  }

  .form-group {
    input,
    textarea {
      font-family: inherit;
      padding: 10px 20px;
      font-weight: 500;
    }

    label {
      font-weight: 700;
      font-size: 30px;
    }
  }

  .contact-img {
    width: 200px;
    padding: 30px 0;
    position: relative;
    top: -50px;
    left: 150px;
  }

  .contact-btn {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 30px;
  }

  .sm-header {
    display: none;
  }

  @media (max-width: 1199px) {
    .contact-img {
      display: none;
    }

    .lg-header {
      display: none;
    }

    form {
      margin-top: 0px;
    }

    .sm-header {
      display: block;
    }
  }
}
